.bg-dark-blue.nav-dark.layout-padding.layout-align-space-between-center.layout-row {
    background-color: #54a1e4;
    color: #fff;
}

#arbol{
    border-left: 1px solid #ddd;
    padding-left: 4px;
     background-color: #f5f5f5;
         overflow-x: hidden;
    overflow-y: auto;
}


.angular-ui-tree{
    border-left: 1px solid #ddd;
    padding-left: 4px;
    background-color: #f5f5f5;
    overflow-y: auto;
    position: relative;
height: 510px;
overflow-y: scroll;

}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 1em;
    border-radius: 6px;

    color: #0a6ebd;
}
.btn {
    display: inline-block;
    padding: 3px 1px;
    color: #0a6ebd;
}

.layout-margin {
     margin: 0px; 
}

#breadcrumbs{
  margin: -8px;
  margin-bottom: 12px;
  height:50px; 
  background-color:#f5f5f5;
}
.md-button#thumb {
    min-width: 40px;
}
/*TABLE*/
