<div class="container">


    <!-- DropDown Buckets -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        Buckets <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="bucket in buckets"><a href="#">{{bucket.name}}</a></li>
      </ul>
    </div>
    <!--  -->

    <!-- bucket table -->
	<h2>Bases de datos</h2>
	<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr style="background-color:#fcffc7">
			<th st-sort="tblName">Nombre</th>
			<th st-sort="tblDate">Fecha actualización</th>
			<th st-sort="actualizar"></th>
			<th st-sort="borrar"></th>
		</tr>
		<tr >
			<th>
				<input st-search="tblName" placeholder="nombre" class="input-sm form-control" type="search"/>
			</th>
			<th>
				<input st-search="tblDate" placeholder="fecha" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.tblName}}</td>
			<td>{{row.tblDate | date}}</td>
			<td><i style="color:blue" class="glyphicon glyphicon glyphicon-refresh" ng-click="removeTarifa($index)"></i></td>
			<td><i style="color:red" class="glyphicon glyphicon glyphicon-trash" ng-click="removeTarifa($index)"></i></td>
		</tr>
		</tbody>
	</table>
    <!-- bucket table -->


    <!-- add BD -->
	<div class="row">
		  <div class="col-xs-6">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="nombre de la base de datos">
		      <span class="input-group-btn">
		        <button class="btn btn-info" ng-click="open($event)"><i class="glyphicon glyphicon glyphicon-plus-sign"></i> añadir BD</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
	</div>
    <!-- add BD -->



	<h3>Campos Bases de datos</h3>

</div>
