

<div class="form-group">
    <div class="col-sm-12">
        <div class="btn-group pull-right">
            <label class="btn btn-default"  style="padding:6px 3px" ng-repeat="(horaLibre, enabled) in horasLibres" ng-model="horasLibres[horaLibre]" btn-checkbox ng-change="selectModelo(horaLibre)">{{horaLibre}}</label>
        </div>
    </div>
</div> 


<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th ng-repeat="title in tableTitles">
		<!-- {{title}} -->
			<div class="dropdown">
			  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownHora" data-toggle="dropdown" aria-expanded="true">
			    {{title}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownHora">
			    <li role="presentation" ng-repeat="hora in filtro[title]" ng-click="filtra({hora:hora})">
			    	<a role="menuitem" tabindex="-1" >{{hora}}</a>
			    </li>
			  </ul>
			</div>			
		</th>

	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection track by $index">
		<td ng-repeat="title in tableTitles">{{row[title]}}</td>
	</tr>
	</tbody>
</table>

<a href="s3.amazonaws.com/jrcnaturalsystems/Grupo_Panstar/PNM_Panamar/Registros/Roedores/PNM-Panamar_#010-Roedores_Registro-de-vigilancia.pdf">dd</a>
<h2>folders</h2>
<!-- <ul> <li ng-repeat="item in folders[0]"> {{item}} </li> </ul> -->
<ul> <li ng-repeat="item in folders"> <a href="{{item.path}}">{{item.name}}: {{item.path}}</a> </li> </ul>
<h2>files</h2>
<ul> <li ng-repeat="item in files"> <a href="{{item.path}}">{{item.name}}: {{item.path}}</a> </li> </ul>



