<style>
	.table {
		max-width: none;
		table-layout: fixed;
		word-wrap: break-word;
	}
	.table-scrollable{
		overflow: auto;
	}
	th input { 			/*fix input rows*/
		width:100%;
	}
	tr {
		width: 100%;
	}

	.tabla200 {  
    height: 350px !important;
    overflow: scroll;
    position: relative;

	}​

</style>



<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th ng-repeat="title in tableTitles" st-sort="{{title}}">{{title}}</th>
	</tr>

	<tr>
		<th ng-repeat="title in tableTitles">
			<input st-search="{{title}}" placeholder="search for {{title}}" class="input-sm form-control" type="search"/>
		</th>
	</tr>

	</thead>
	<tbody>
		<tr ng-repeat="row in rowCollection track by $index">
			<td ng-repeat="title in tableTitles">{{row[title]}}</td>
		</tr>
	</tbody>
</table>



