


<div layout="row" layout-margin>

  <div flex="25">
   <md-list>
     <md-list-item>
       <md-button class="md-fab md-mini">
         <div align="center">A</div>
       </md-button>
     </md-list-item>
   </md-list>
  </div>

 <div flex>
   <md-content></md-content>
 </div>


 <div flex="75">
   <md-list>
     <md-list-item>
       <md-button class="md-fab md-mini">
          <div align="center">N</div>
      </md-button>
     </md-list-item>
     <md-list-item>
      <tbody>
      <tr ng-repeat="row in rowCollection track by $index">
        <td ng-repeat="title in tableTitles">{{row[title]}}</td>
      </tr>
      </tbody>
     </md-list-item>
   </md-list>
 </div>
</div>

