
<!-- https://github.com/daniel-nagy/md-data-table -->
<!-- http://codepen.io/zavoloklom/pen/IGkDz -->

<div layout="row" layout-margin>

    <div flex="25" id="arbol">

        <!-- SEARCH -->
        <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
           <md-icon style="color:darkcyan" class="material-icons" ng-click="busca()">&#xE8B6;</md-icon>
           <input ng-model="termino" placeholder="buscar" style="color:darkcyan;padding-left:25px;margin-left:5px">
        </md-input-container>
        <md-list>
            <!-- TREE -->
            <md-list-item>
                <div ui-tree="treeOptions" id="tree-root" >
                    <ol ui-tree-nodes="" ng-model="data">
                        <li ng-repeat="node in data" data-nodrag collapsed="true" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </md-list-item>
            <!-- TREE -->
        </md-list>
    </div>


    <div flex>

        <!-- ENCONTRADOS -->
        <div class="col-xs-12"  ng-show="verEncontrados" >
          <div class="alert alert-success" role="alert">
            <button type="button" ng-click="verEncontrados=false" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span ><i class="fa fa-search"> Encontrados</i></span> <span class="badge">{{encontrados.length/1000}} KB</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in encontrados">
              <a href="https://s3-eu-west-1.amazonaws.com/{{item.path | escape}}" target="_blank">
                <span ng-class="item.icon_type" style="color:{{item.icon_color}};font-size:1.5em;"></span>
                #{{$index+1}} - {{item.name.split('/').pop()}}
                <i class="fa fa-cloud-download  pull-right" style="font-size:1.5em;color:#C440CD"></i>
                <span class="badge pull-right">{{item.content_length/1000}} KB </span>
              </a>
            </li>
          </ul>
        </div>  

        <!-- BREADCRUMBS -->
        <div ng-show="!verEncontrados" class="row" id="breadcrumbs">

            <div layout="row" layout-margin>
            
                <div flex="90">
                    <md-button class="md-fab md-mini" ng-click="bcToPath(0)">
                        <div align="center"><i class="fa fa-home"></i></div>d
                        <md-icon md-svg-src="./images/icon.svg"></md-icon>              
                    </md-button>

                    <div id="bc2" class="btn-group btn-breadcrumb">      
                        <a href="" ng-repeat="item in bc" ng-click="bcToPath($index)" class="btn "><div><i class="glyphicon glyphicon-folder-open" style="padding:0 10px"></i>{{item}} &nbsp/ </div></a>
                        <i ng-show="spin" class="fa fa-spinner fa-pulse fa-2x pull-right" style="color:darkorchid; margin-left:20px"></i>
                    </div>    
                </div>
                <div flex="5">
                    <md-button class="md-raised" id="thumb" ng-show="thumbsVisibles" ng-click="verThumbs('list')"><i class="fa fa-list"></i></md-button>
                    <md-button class="md-raised" id="thumb" ng-hide="thumbsVisibles" ng-click="verThumbs('thumb')"><i class="fa fa-th"></i></md-button>
                </div>
            </div>


        </div>





        <!-- FILES TABLE -->
        <div ng-show="!verEncontrados" class="table-responsive-vertical shadow-z-1" style="width:100%">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue" ng-hide="thumbsVisibles">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Tamaño</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fichero in ficheros">
                    <td data-title="ID">{{$index+1}}</td>
                    <td data-title="Name">{{fichero.title}}</td>
                    <td data-title="Name">{{fichero.content_length/1000}} KB</td>
                    <td data-title="Name">{{fichero.last_modified}}</td>
                    <td data-title="Name"><i class="{{fichero.icon_type}}" style="font-size:1.5em;color:#C440CD"></i></td>
                    <!--           <td data-title="Link">
                    <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                    </td> -->
                    </tr>
                </tbody>
            </table>


            <!-- FILES GRID -->
            <div layout="row" layout-margin ng-show="thumbsVisibles">
            
<!--               <div flex ng-repeat="fichero in ficheros">
                <div ng-if="$index % 3 === 0" ng-init="group = ficheros.slice($index, $index + 3)">
                    <div  ng-repeat="grItem in group">
                        <div style="float:left; margin-right:10px">
                            <img src="https://s3-eu-west-1.amazonaws.com/{{grItem.path}}" width="90px" >
                            <p>{{grItem.title}}</p>
                            
                        </div>
                    </div>
                </div>
              </div>  -->           
                <div flex ng-repeat="fichero in ficheros" ng-switch="fichero.title.split('.')[1]">
                    <div style="float:left; margin-right:10px">

                        <div ng-switch-when="jpg" >
                            <md-card>
                                <img src="https://s3-eu-west-1.amazonaws.com/{{fichero.path}}" />
                                <md-card-content>
                                    {{fichero.title}}
                                </md-card-content>
                            </md-card>                          
                        </div>

                        <div ng-switch-when="pdf" >
                            <md-card>
                                <md-button md-no-ink class="md-primary"><i class="fa fa-file-pdf-o fa-4x" style="color:#E45656"></i></md-button>
                                <md-card-content>
                                    {{fichero.title}}
                                </md-card-content>
                            </md-card>                            
                        </div>

                        <div ng-switch-default>
                            <md-card>
                                <md-button md-no-ink class="md-primary"><i class="fa fa-sticky-note-o fa-4x" style="color:#E45656"></i></md-button>
                                <md-card-content>
                                    {{fichero.title}}
                                </md-card-content>
                            </md-card>                         
                        </div>

                    </div>
                </div>


            </div>


        </div>
  


    </div>


</div>



<!--     <div class="row" ng-show="destaca"  style="background-color: whitesmoke; padding: 20px 0 20px 0">
      <div class="col-xs-12">
        <div class="alert alert-success" role="alert"><span style="font-size:1.2em;"><i class="fa fa-th-list"> Documentos recientes</i></span> <span class="badge">{{destacados.length}}</span></div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="item in destacados">
            <a href="https://s3-eu-west-1.amazonaws.com/{{item.id | escape}}" target="_blank">
              <span ng-class="item.icon_type" style="color:{{item.icon_color}};font-size:1.5em;"></span>
              {{item.title}}
              <i class="fa fa-cloud-download  pull-right" style="font-size:1.5em;color:#C440CD"></i>
              <span class="badge pull-right">{{item.content_length/1000}} KB </span>
            </a>
          </li>
        </ul>
      </div>
    </div> -->


        <script type="text/ng-template" id="nodes_renderer.html">

          <div ui-tree-handle class="tree-node tree-node-content" >

            <!-- FOLDERS -->
            <a 
                class="btn btn-lg" 
                id="{{node.identidad}}"
                ng-if="!node.file" 
                data-nodrag 
                ng-click="toggleBranch(this)">
                  <span ng-class="{'glyphicon glyphicon-folder-close': collapsed, 'glyphicon glyphicon-folder-open': !collapsed}" class="treeFolder"></span>
            &nbsp{{node.title}}
            </a>

            <!-- FILES -->
                <!-- data-toggle="modal" data-target="#fileModal" -->
            <a 
                class="btn btn-lg" 
                ng-if="node.file" 
                data-nodrag 
                href="https://s3-eu-west-1.amazonaws.com/{{node.id}}" 
                target="_blank"
                ng-click="setFile(node)">
                  <span ng-class="node.icon_type"  class="treeFile" style="color:{{node.icon_color}};"></span>
            &nbsp{{node.title}}
            </a>
            

          </div>

          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" collapsed='true' ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>

        </script>

